body{
margin: 0; padding: 0;
background-color: #fff;
position: relative;
font-family: -apple-system,system-ui,BlinkMacSystemFont,Futura Medium,Roboto,Helvetica Neue,Arial,sans-serif;
}

header{
height: 75px;
position: fixed;
top: 0;
z-index: 120;
background-color: #fff;
width: 100%;
align-items: center;
box-shadow: 0 3px 6px rgba(0,0,0,.1);
padding: 0;
}

.nav-lista{
margin: 10px 10px 10px 10px;
}

.colorlink{
	color:#231F20;
}

/* Section Sobre */
section{padding: 75px 0;} 

.page-content{
	display: flex;
    align-items: center;
	flex-wrap: wrap;
}

.text-office h3[data-v-58eec394] {
    margin-bottom: 30px;
}
.text-office h4[data-v-58eec394] {
    font-size: 25px;
    margin-bottom: 20px;
}
.box_header {
    text-transform: uppercase;
    font-family: 'Futura Heavy';
}

.box_header::after {
    display: block;
    content: '';
    width: 90px;
    height: 4px;
    margin: 16px 0 0;
    background-color: rgb(110, 103, 91);
}

.image_back[data-v-58eec394] {
    height: 400px;
    display: flex;
    align-items: center;
}

.image_back[data-v-58eec394]:before {
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
	z-index: -1;
	background: #1b1e21;
}

.page-content img[data-v-58eec394] {
    height: 90%;
    float: right;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    z-index: 1;
	margin-left: 5%;
} 
/*{}*/
/* Fim Section Sobre */
/*Section Áreas de Actuação*/
.areas_head_text[data-v-7decfb98] {
    width: 90%;
    padding: 25px;
    position: relative;
    border-radius: 5px;
    background: #fbfbfb;
    z-index: 1!important;
    font-family: Futura Heavy;
}

.areas_head[data-v-7decfb98]:after {
    content: "";
    position: absolute;
    width: 70%;
    height: 170%;
    border: 20px solid #1b1e21;
    left: -45%;
	bottom: -80px;
}

.mb-60 {
	margin-bottom: 60px;
}

.mt-30{
	margin-top: 30px;
}

.avatar-large {
	width: 75px;
	border-radius: 50%;
	box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    height: 75px;
    margin-bottom: 25px;
  }

.my_service_text[data-v-7decfb98] {
    padding: 25px 15px;
    background: #fbfbfb;
    position: relative;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    border-radius: 5px;
    z-index: 1!important;
    height: 340px;
}

.mt-35 {
	margin-top:35px;
}
/*Fim Áreas de Actuação*/
/*Section Contacto*/
.mb-60 {
    margin-bottom: 60px;
}

.box_header::after {
    display: block;
    content: '';
    width: 90px;
    height: 4px;
    margin: 16px 0 0;
    background-color: rgb(110, 103, 91);
}

.header h3 {
    font-size: 45px;
    font-weight: 600;
}
.box_header {
    text-transform: uppercase;
    font-family: 'Futura Heavy';
}

form[data-v-fe314ffa] {
    position: relative;
}

.mb-15{
	margin-bottom: 15px;
}

.contact .form-control[data-v-fe314ffa] {
    border: 1px solid rgb(110, 103, 91);
    border-radius: 5px;
}

.contact .g-button[data-v-fe314ffa] {
    padding: 15px 22px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    border: 2px solid rgb(110, 103, 91);
	letter-spacing: 1px;
	background: rgb(110, 103, 91);
}
/*Fim Section Contacto*/

/* Componentes*/
section#componentes{
	background-color: #A37C40;
}

.containInfo{
	display: inline-block;
    width: 300px;
    height: 300px;
    margin: 50px 20px 10px 20px;
    text-align: center;
}

.info{    
    background-color: transparent;
    width: 100px;
    height: 100px;
    border-radius: 80%;
	margin-left: 50px;
	position: relative;
}

.info img{
	height: 100px;
	width: 100px;
}

.containInfo h2{
	margin-top: 10px;
	font-size: 12pt;
	text-transform: uppercase;
	color:#555;
}

.containInfo p{
	margin-top: 5pX;
	line-height: 16pt;
	font-size: 11pt;
	color:#555;
}

.info:hover{
	transform: scale(1.1);
	transition: 0.5s;
	box-shadow: 0 0 5px #333;
}

/*Gradient*/
section#gradientsWrapper{
	padding: 40px 0;
	position: relative;
	width: 100%;
    display: block;
    height: 500px;
	color: white;
}

.gradient{
	background: linear-gradient(to right, rgba(0, 126, 174, .85), rgba(26, 193, 187, .85));
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
	background-color: #0767FF;
    z-index: 0;
}

.caixaTextoSlide{
	z-index: 0;
	position: relative;
	display: flex;
    flex-direction: column;
    align-items: flex-start;
	margin-left: 300px;
    width: 950px;
    max-width: 100%;
}

.caixinhaDescricao{
	font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    color: #6DF4FF;
    border: 1px solid #6DF4FF;
    padding: 8px 44px;
    border-radius: 23px 6px;
    margin-bottom: 10px;
}

.tituloSlide{
	margin: 0 0 10px;
    font-size: 50px;
    font-weight: 700;
}

.descricaoSlide{
	font-size: 14px;
    font-weight: 300;
    line-height: 28px;
    margin: 0;
}
/*Fim Gradient*/

/* Botão central do gradient*/
.center-button{
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.button{
	margin: 70px auto 0;
	padding: 0;
}

.botao{
	width: 300px;
	height: 50px;
	text-align: center;
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-weight: lighter;
}

.button:hover{
	background-color:  #55555554;
} 

/* Fim botão central do gradient*/

/* Footer*/
.footerRodape{
background: linear-gradient(to right, rgba(0, 126, 174, .85), rgba(26, 193, 187, .85));
font-family: inherit;
justify-content: space-between;
display: flex;
flex-direction: row;
align-items: normal;
padding: 30px 60px;
flex: 0 0 auto;
bottom: 0;
}

.footerColuna{
    padding: 0 5px;
	display: block;
	flex-direction: column;
	color: #C8CDD4;
	text-align: left;
	font-size: 14px;
}

#contacto a {
	color: lightgrey;
	font-size: 15px;
}
#contacto a:hover {
	color: white;
  }

.p{
	display: block;
	text-align: left;
	margin: 0 0 20px;
    font-weight: 400;
    flex-direction: row;
}

/*Fim Footer*/
